<h1>Edit Task Detail</h1>

<%= form_for @task, :url =>{:action => "update", :id =>@task} do |item| %>

<p>Name: <%= item.text_field 'name' %></p>
<p>Creation Date: <%= item.date_select  'creation_date' %></p>
<p>Deadline: <%= item.date_select  'end_date' %></p>
<p>User: <%= item.collection_select :user_id, User.all, :id, :name %></p>

<p>Description<br/><%= item.text_area 'description' %></p>

<%= item.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>