<% if @tasks.blank? %>
<p>There are not any tasks currently in the system.</p>
<% else %>
<p>These are the current tasks in our system</p>

<table id = "tasks">
   <% @tasks.each do |c| %>
   <tr>
    <td><%= link_to c.name, {:action => 'show', :id => c.id}     -%></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => c.id}     -%></td>
    <td><%= link_to 'Delete', {:action => 'delete', :id => c.id} -%></td>
   </tr>
   <% end %>
</table>

<% end %>
<p><%= link_to "Add new Task", {:action => 'new' }%></p>