<h1>Add new task</h1>

<%= form_tag :action => 'create' do %>

<p><label for = "task_name">Name</label>:
<%= text_field 'tasks', 'name' %></p>

<p><label for = "task_end_date">Task Deadline</label>:
<%= date_select 'tasks', 'end_date' %></p>

<p><label for = "task_user_id">User</label>:
<%= collection_select(:tasks, :user_id, @users, :id, :name, prompt: true) %></p>

<p><label for = "task_description">Description</label><br/>
<%= text_area 'tasks', 'description' %></p>

<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>