<h1>Task Detail</h1>

<a><label for = "task_name">Task Name</label> : <%=@task.name %></a><br/>
<a><label for = "task_creation_date">Creation Date</label> : <%=@task.creation_date %></a><br/>
<a><label for = "task_end_date">Dead line</label> : <%=@task.end_date %></a><br/>
<a><label for = "task_description">Description</label> : <%=@task.description %></a><br/>

<br/>
<%= link_to 'Back', {:action => 'list'} %>