<% if @users.blank? %>
<p>Currently there is no user in the system.</p>
<% else %>
<p>These are the current users in our system</p>

<ul id = "users">
   <% @users.each do |c| %>
   <li><%= link_to c.name + " " + c.family, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new User", {:action => 'new' }%></p>