<h1>Add new user</h1>

<%= form_tag :action => 'create' do %>

<p><label for = "user_name">Name</label> : 
<%= text_field 'users', 'name' %></p>

<p><label for = "user_family">Family Name</label> : 
<%= text_field 'users', 'family' %></p>

<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>